extends layout.pug
include mixins/userBlock.pug


block content
    .container
        .form
            img(src=`/${memory.file}`, alt= memory.title).img
            h1 #{memory.title}
            h2 #{memory.desc}
            +userBlock({
                name: memory.creator.name,
                _id: memory.creator._id,
                file: memory.creator.file
            }) 
            if user._id === `${memory.creator._id}`
                a(href=`/memory/${memory._id}/update`) 수정하기
                a(href=`/memory/${memory._id}/delete`) 삭제하기  


