extends layout.pug 

block content
    h1 회원가입



    form.From(action="/join" method="post" novalidate) 
        input.text(class=validationErrors.email ? "error" : "" type="text", name="name" placeholder="이름" value= `${oldInput.name}`)
        input.text(type="email" name="email" placeholder="이메일" value= `${oldInput.email}`)
        input.text(type="password" name="password" placeholder="비밀번호" value= `${oldInput.bodypassword}`)
        input.text(type="password" name="passwordVerify" placeholder="비밀번호 확인" value= `${oldInput.passwordVerify}`)
        button 회원가입 완료
    a(href="/login") 로그인하러 가기