extends layout.pug
include mixins/userBlock.pug
block css
    

block content
    if user.file
        img(src=`/${user.file}`).user-img
    else
        img(src="/static/images/user.png").user-img
        
    h1=user.name

            each memory in memories 
                a(href=`/memory/${memory.id}`) 
                    .user-host
                        img(src=`/${memory.file}`, alt= memory.title).img
                        h1 #{memory.title}   
                        +userBlock({
                            name: memory.creator.name,
                            _id: memory.creator._id,
                            file: memory.creator.file
                        })